* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 1200px; 
  margin: 0 auto; 
  padding: 0 10px;     
  
}


/* Navbar Section */
.navbar-section {
  background-image: url('./Assets/Hero-bg.png'); /* your uploaded background */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 20px 0;
}

/* Container to center content */
.navbar-container {

  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Logo */
.navbar-logo {
  width: 80px;
  height: auto;
}

/* Sign Up Button */
.signup-button {
  background-color: #4f46e5;
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;

}


.cool{
    text-align: center;
    
}

.stay-focused-button {
  background-color: #4f46e5;
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;

}

/* action section ------------------- */

/* Action Section */
.action-section {
  background-color: #f5f7fe;
  padding: 60px 20px;
}

/* Container Layout */
.action-container {
 
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px;
}


.action-text h2 {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 15px;
}

.action-text p {
  color: #6b7280;
  margin-bottom: 20px;
  font-size: 20px;
  line-height: 1.5;
}

/* Button */
.action-button {
  background-color: #4f46e5;
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 600;
  
  
}


/* Image Column */
.action-image img {
  max-width: 100%;
  border-radius: 20px;
  
}